---
import { Image } from 'astro:assets';
import figmaSvg from '../../assets/svg/figma.svg';

export interface Props {
  class?: string;
  title?: string;
  wrapperClass?: string;
  glow?: boolean;
}
const {
  class: cls = 'h-6 w-6',
  title = 'Figma',
  wrapperClass = null,
  glow = true,
} = Astro.props;
import '../../styles/projects.css';
const base =
  'inline-flex items-center justify-center p-1 rounded-md transition-colors duration-200 mr-2';
const hover = 'hover:bg-pink-50 dark:hover:bg-pink-900';
const wrapper =
  wrapperClass ?? `${base} ${hover} ${glow ? 'glow-effect' : ''} icon-figma`;
---

<span class={wrapper} aria-hidden="true">
  <Image src={figmaSvg} class={cls} alt={title} loading="lazy" />
</span>
