---
export interface Props {
  class?: string;
  title?: string;
  wrapperClass?: string;
  glow?: boolean;
}
const {
  class: cls = 'h-6 w-6',
  title = 'MySQL',
  wrapperClass = null,
  glow = true,
} = Astro.props;
import '../../styles/projects.css';
const base =
  'inline-flex items-center justify-center p-1 rounded-md transition-colors duration-200 mr-2';
const hover = 'hover:bg-sky-50 dark:hover:bg-sky-900';
const wrapper =
  wrapperClass ?? `${base} ${hover} ${glow ? 'glow-effect' : ''} icon-mysql`;
---

<span class={wrapper} aria-hidden="true">
  <img src="/src/assets/MySQL.svg" class={cls} alt={title} loading="lazy" />
</span>
